<html>

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div style="margin: 0;font-size: 14px;color: #262626;box-sizing: border-box;font-family: 'San Francisco',Arial,Helvetica,san-serif,serif">
    <div style="width: 100%;max-width: 650px;background: #f2f2f2;margin: auto;">
      <div style="padding: 20px;">
        <div style="background: #FFF; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);">
          <div style="width: 100%;">
            <div style="padding: 20px;">
              <img src="https://user-images.githubusercontent.com/21119252/43826969-d9d658fe-9b22-11e8-9a69-ec7556dc987e.jpg" alt="FLS"
                style="width: 100%;">
            </div>
          </div>
          <div style="padding: 20px;">
            <div>
              <span>Dear,
                <span style="font-weight: bold">
                  <%=fullname%>
                </span>
                !
              </span>
            </div>
            <div>
              <p>
                 Terima kasih karena sudah berpartisipasi dan mau mencoba untuk ambil bagian dalam merubah dunia dengan mendaftarkan dirimu di Future Leader Summit 2018.
              </p>
              <p>
                 Namun kami meminta maaf, karena untuk saat ini, kamu belum bisa bergabung menjadi salah satu  delegasi di Future Leader Summit 2018.
              </p>
              <p>
                 Jangan putus asa dan tetap semangat ya! Masih banyak cara lainnya untuk ikut serta mengambil bagian dalam mengubah dunia.
              </p>
              <p>
                Sampai jumpa di lain kesempatan!
              </p>
            </div>
            <div style="padding: 64px 0;">
              <p style="text-align:center">
                <b>Grab the Chance, Take the Charge!</b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="background: #E8E8E8; text-align: center; padding: 20px;">
        <p>
          <a href="mailto:futureleadersummit@gmail.com?subject=Pendaftaran FLS 2018" target="_blank" style="text-align:center;color: #859595; text-decoration: none;">
            <img src="https://files.mailtarget.co/assets/icons/reply-32.png" alt="Reply" width="20"> Reply
          </a>
        </p>
        <img src="https://user-images.githubusercontent.com/21119252/41821836-c2787e10-7810-11e8-8d2a-cc829bea4ae3.png" alt="Fls"
          style="width: 100px;">
        <p style="color:#9e9e9e; font-size: 11px;">
          Semarang, Jawa Tengah, Indonesia
        </p>
        <p style="text-align: center;">
          <a href="https://www.facebook.com/futureleadersummit/" style="color: transparent;">
            <img src="https://madhang.id/images/icon/email/facebook.png" title="Facebook">
          </a>
          <a href="https://www.instagram.com/flsummit/" style="color: transparent;">
            <img src="https://madhang.id/images/icon/email/instagram.png" title="Instagram">
          </a>
          <a href="https://www.twitter.com/flsummit" style="color: transparent;">
            <img src="https://madhang.id/images/icon/email/twitter.png" title="Twitter">
          </a>
          <a href="https://www.youtube.com/user/FLSummit" style="color: transparent;">
            <img src="https://madhang.id/images/icon/email/youtube.png" title="Youtube">
          </a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
